#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 2em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.myheader {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 60px;
}

h1 {
    font-size: 1em;
    line-height: 1.1;
    font-weight:normal;
}