body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #282D35;
    background-image:url(./assets/react.svg);
    background-repeat:no-repeat;
    background-position: right 75%;
    background-size:100px;
    

}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-self:center;
    width:300px;
    font-size: 1.1rem;
}

.logo {
    width: 28.93px;
    height: 28.93px;
    margin-left:26px;
}

footer{
    background:black;
    height:50px;
}

.page-header{

}

nav {
    font-weight: bold;
    font-size: 22.25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 91px;
    color: #61DAFB;
    background: #21222A;
}

.logoText{
    margin-left:6.68px;
}

main{
    margin:27px;
}

main > h1 {
    font-weight: bold;
    font-size: 39.06px;
}

.facts-list{
    margin-top:46px;
    max-width: 400px;
}

    .facts-list > li {
        line-height: 19px;
        padding-block: 10px;
    }

        .facts-list > li::marker {
            color: #61DAFB;
            font-size: 1.5rem;
        }